@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/* Initial Values */
:root {
  --primary-0 : 255 255 255;
  --primary-50: 240 248 255;
  --primary-100: 224 242 254;
  --primary-200: 191 231 252;
  --primary-300: 144 216 248;
  --primary-400: 75 192 240;
  --primary-500: 0 168 232;
  --primary-600: 0 151 209;
  --primary-700: 0 131 182;
  --primary-800: 0 110 152;
  --primary-900: 0 94 130;
  --primary-950: 0 79 109;
  --surface-0 : 255 255 255;
  --surface-50: 249 250 251;
  --surface-100: 243 244 246;
  --surface-200: 229 231 235;
  --surface-300: 209 213 219;
  --surface-400: 156 163 175;
  --surface-500: 107 114 128;
  --surface-600: 75 85 99;
  --surface-700: 55 65 81;
  --surface-800: 31 41 55;
  --surface-900: 17 24 39;
  --surface-950: 10 14 29;
}

.bg-main {
  @apply bg-sky-600;
}
.text-main {
  @apply text-sky-600;
}

.icon-base {
  @apply w-7 h-7;
}
